.header h4 {
    color: #b7b7c7;
}

.header .contacts ul li a {
    color: #FFF;
}

.contacts, .skills {
    margin-bottom: 2rem;
    border-bottom: #878686 1px solid;
}

.contacts_item {
    display: flex;
}

.contacts_item a i {
    padding-right: 1em;
    font-size: large;
}

.header .skills ul li a {
    color: #FFF;
}

.header  .skills li {
    display: block;
    color: #FFF;
}

.langs li {
    display: block;
    color: #FFF;
}

.works_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.works_item {
    display: flex;
    padding-top: 1rem;
}

.works_item:not(:last-child) {
    padding-bottom: 3rem;
    border-bottom: #eee 1px solid;
}

.work_photo {
    margin-top: 1rem;
    overflow: hidden;
    width: 300px;
    height: 200px;
    transition-duration: .25s;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 70%);
}

.work_photo:hover {
    transform: scale(1.5);
}

.work_photo img {
    width: 100%;
}

.work_content {
    padding-left: 3rem;
    width: 460px;
}

.work_link {
    /* margin-bottom: 2rem; */
}

.work_link a:link {
    text-decoration: none;
}